apiVersion: apps/v1
kind: Deployment
metadata:
  name: visa-ml-api
  namespace: visa-system
  labels:
    app: visa-ml-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: visa-ml-api
  template:
    metadata:
      labels:
        app: visa-ml-api
    spec:
      containers:
      - name: visa-ml-api
        image: masssyadav/visa-ml:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 20
