apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: visa-ml-hpa
  namespace: visa-system
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: visa-ml-api
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
